@import "tailwindcss";
.slick-prev::before,
.slick-next::before {
  content: none !important;
}
/* clerk user button adjust */
.cl-avatarBox{
    width: 3rem;
    height: 3rem;
}
/* carousel arrow  */
.arrows{
    height: 40px;
    width: 40px;
    margin: 1px;
}
input {
  background-color: white;
  accent-color: rgb(58, 58, 58);
  border: 1px solid #ccc;
  color: rgb(26, 25, 25);
}